.nav{
    position: sticky;
    top: 0px;
    padding: 20px 50px;
    width: 100%;
    height: var(--navHeight);
    background-color: var(--navColor);
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    z-index: 10;
  }
  
  .nav div{
    flex-grow: 1;
    text-align: left;
    font-size: 34px;
    
    color: white;
  }
  
  .nav button{
    padding: 15px 25px;
    font-size: 20px;
    background-color: var(--buttonDark);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: var(--shadow)
  }
  
  .nav button:hover{
    background-color: var(--buttonDarkHighlight);
  }