:root {
  --navColor: rgb(158, 158, 158);
  --navHeight: 76px;
  --sideBarWidth: 280px;
  --addBtnSize: 60px;
  --buttonDark: rgb(54, 54, 54);
  --buttonDarkHighlight: rgb(27, 27, 27);
  --shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  

.contents{
  flex-grow: 1;
  display: flex;
}


